				/* Styles for screens wider than 700px */
@media only screen and (min-width: 700px) {
	/* Set max-width to 700px */
	body {
	  max-width: 700px;
	  margin: 0 auto;
	}
	
	/* Change font size to 24px */
	body {
	  font-size: 24px;
	}
  }
  
  /* Styles for screens narrower than 700px */
  @media only screen and (max-width: 700px) {
	/* Set width to 100% */
	body {
	  width: 100%;
	  margin: 0;
	}
	/* Change font size to 24px */
	body {
	  font-size: 24px;
	}
  }
		/* center the page */
		body {
			margin: 0 auto;
			min-width: 240px;
			max-width: 700px;
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			background-color: whitesmoke;

		}

		/* header section */
		.header {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			background-color: white;
			background-image: url('logo/paper.jpg');
		}

		/* social media links */
		.social {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

		.social a {
			padding: auto;
			margin-right: 10px;
			color: black;
			text-decoration: none;
			/*font-size: auto;
			font-weight: auto;*/
			border: none;
			border-radius: 5px;
			
		}
		.social a:hover{
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
			transform: scale(1.5);
		}

		/* language selection and logo container */
		#language-select {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 10px;
		  }
		  
		  .language-option {
			display: inline-block;
			margin: 0 5px;
			padding: 5px;
			color: black;
			border-style:ridge;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;
		  }
		  
		  .language-option:hover {
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
			transform: scale(1.2);
		  }
		  

		.logo {
			margin-left: 0;
			height: auto;
			width: auto;
			background-repeat: no-repeat;
			background-size: contain;
		}
		/*.video {
			width: calc(100% - 250px);
			height: 100%;
			position: relative;
			overflow: hidden;
		  }
		  
		  .video video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
		  }*/

		/* picture container */
		.pictures {
			display: flex;
			justify-content: space-between;
			align-items: center;
			/*background-image: url('logo/bk.jpg');
			background-repeat: no-repeat;
			background-size:auto;
			background-position: right;*/
			}
		/*.background img {
			/*position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			}*/
		.pic1 img {
			height: 300px;
			width: auto;
		}
		.pic2 img {
			height: 260px;
			width: auto;
		}

		/* navigation buttons */
		.nav {
			max-width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center nowrap;
			height: auto;
			background-color: #fff;
			padding: 20px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
			background-image: url('logo/paper.jpg');
		}

		.nav a {
			display: block;
			margin: 10px 0;
			padding: 10px;
			border: 1px solid black;
			border-radius: 5px;
			text-align: center;
			text-decoration: none;
			color: black;
			font-size: 14px;
			font-weight: bold;
			white-space: nowrap;
		}
		.nav a:hover{
			transform: translateY(-2px, 2px);
			box-shadow: 0px 3px 8px rgba(0, 0, 0, 1);
			transform: scale(1.2);
		}
		/*.button {
			background: linear-gradient(to bottom right, #ff0000, #ff6600, #ffff00);
			color: #fff;
			border: none;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			transition: background 0.3s ease-in-out;
		  }
		  
		  .button:hover {
			background: linear-gradient(to bottom right, #ff3300, #ff9933, #ffff33);
		  }*/
		#home {
			height: 15px;
			width: 15px;
		}

		/* news section */
		.news {
			min-width: 50%;
			height: auto;
			background-color: #fff;
			padding: 20px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		}

		/* form section */
		.form {
			background-color: #fff;
			padding: 20px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
			display: block;
			width: 75%;
		}
		input {
			width: 100%;
			box-sizing: border-box;
			padding: 8px;
			margin: 5px;
		}
		textarea {
			margin-left: 5px;
			width: 100%;
			min-height: 150px;
		}

		input[type="text"]::placeholder {
			color: #000;
			opacity: 0.5; /* change the opacity value as desired */
		  }
		  input[type="email"]::placeholder {
			color: #000;
			opacity: 0.5; /* change the opacity value as desired */
		  }
		  input[type="phone"]::placeholder {
			color: #000;
			opacity: 0.5; /* change the opacity value as desired */
		  }
		  input[type="message"]::placeholder {
			color: #000;
			opacity: 0.5; /* change the opacity value as desired */
		  }
		

		/* login button */
		/*.login {
			position:static;
			right: 20px;
			bottom: 20px;
			padding: 10px;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-weight: bolder;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
	
		}*/
		.login a{
			padding: 10px;
			font-size: 24px;
			color: black;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
			border-radius: 5px;
			border-style: double;

		}
		.login a:hover {
			color: Red;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
			}
			a {
				position: relative;
				text-decoration: none;
				color: #000;
			  }
			  
			  a::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #000;
				transform: scaleX(0);
				transform-origin: bottom right;
				transition: transform 0.5s ease;
			  }
			  
			  a:hover::before {
				transform: scaleX(1);
				transform-origin: bottom left;
			  }
			  
		* {
			box-sizing: border-box;
		  }
		  
		  body {
			margin: 150 150;
			font-family: Arial, sans-serif;
		  }
		  
		  .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
		  }
		  
		  .social a {
			margin-right: 10px;
		  }
		  
		  .language {
			display: flex;
		  }
		  
		  .logo img {
			margin-top: 50px;
			max-width: 100%;
			height: auto;
			position: absolute; 
			opacity: 0.05;
		  }
		  		  
		  .spacer {
			height: auto;
			background-color: #fff;
			font-family: Arial, Helvetica, sans-serif;
			font-size: auto;
			font-size: 32px;
		  }
		  
		  .content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 5px;
			
		  }
		  #rubur{
			text-align: center;
		  }
		  #rucom{
			text-align: center;
		  }
		  #map {
			font-size: small;
			color: #0062cc;
		  }
		  #map:hover {
			background-color: #fff;
			color:#3f51b5;
			}
		.footer {
			text-align: end;
		}